body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    to right top,
    #0f0f0f,
    #0f0f10,
    #101011,
    #101011,
    #111012
  );
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  margin-top: 70px; /* Ajuste para evitar solapamiento con el navbar fijo */
}

/* Navbar fijo */
.custom-navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Lo mantiene sobre otros elementos */
  background-image: linear-gradient(
    to right top,
    #0f0f0f,
    #0f0f10,
    #101011,
    #101011,
    #111012
  );
  border-bottom: 0.5px solid #727272; /* Línea blanca delgada */
}

/* Estilo para los enlaces del navbar */
.navbar-nav .nav-item .nav-link {
  color: #fff; /* Color de texto blanco */
  padding: 10px 15px; /* Espaciado */
  transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #05eeff; /* Color al pasar el mouse */
}

.navbar-nav .nav-item .active-link {
  border-bottom: 2px solid #05eeff; /* Línea azul debajo de la opción activa */
  color: #05eeff; /* Color de texto activo */
  text-shadow: 0 1px 4px rgba(60, 128, 245, 0.7); /* Efecto de resplandor */
}

.navbar-brand .navbar-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Footer */
.custom-footer {
  background-image: linear-gradient(
    to right top,
    #0f0f0f,
    #0f0f10,
    #101011,
    #101011,
    #111012
  );
  border-top: 0.5px solid #727272;
  text-align: center;
  padding: 10px 0;
  color: #fff;
}
